
bin/Debug/OneginTaska.exe
bin/Debug/OneginTaska.exe
bin/Debug/OneginTaska.exe
obj/Debug/src/Inputer.o
obj/Debug/src/Output.o
OneginTaska.depend
bin/Debug/OneginTaska.exe
Onegin/
bin/Debug/OneginTaska.exe
*.exe
